.fixture-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #f3f1ed;
  width: 70%;
  margin: auto;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;

  p {
    margin: 0;
    font-weight: bold;
  }
  &-team {
    display: flex;
    width: 300px;
    gap: 10px;
    flex-grow: 2;
    justify-content: space-around;
    align-items: center;
  }
  img {
    height: 50px;
    width: 50px;
    object-fit: contain;
  }
  &-time {
    border: 1px dotted gray;

    border-radius: 2px;
    padding: 10px;
    font-weight: bold;
  }
}
.fixture-container:hover {
  background-color: blueviolet;
  color: white;
  .fixture-container-time {
    border: 1px dotted white;
  }
}
