<div class="form-container">
  <div class="heading">
    <div></div>
    <div>
      <button mat-icon-button (click)="closeDialog()" aria-label="Close dialog">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
  <form [formGroup]="tableRowForm" class="example-form">
    <table class="example-full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>Team Name</mat-label>
            <input formControlName="team" matInput />
          </mat-form-field>
          <mat-error
            *ngIf="
              tableRowForm.get('team').touched &&
              tableRowForm.get('team').hasError('required')
            "
            >Team Name is required</mat-error
          >
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>Played</mat-label>
            <input formControlName="played" matInput />
          </mat-form-field>
          <mat-error
            *ngIf="
              tableRowForm.get('played').touched &&
              tableRowForm.get('played').hasError('required')
            "
            >No. of matches Played is required</mat-error
          >
          <mat-error *ngIf="tableRowForm.get('played').hasError('pattern')"
            >Not valid type</mat-error
          >
        </td>
      </tr>
      <tr>
        <mat-form-field class="example-full-width">
          <mat-label>Image Url </mat-label>
          <input formControlName="imagepath" matInput />
        </mat-form-field>
        <mat-error
          *ngIf="
            tableRowForm.get('imagepath').touched &&
            tableRowForm.get('imagepath').hasError('required')
          "
          >Image Path is required</mat-error
        >
      </tr>

      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>Wins</mat-label>
            <input formControlName="win" matInput />
          </mat-form-field>
          <mat-error
            *ngIf="
              tableRowForm.get('win').touched &&
              tableRowForm.get('win').hasError('required')
            "
            >No. of Wins is required</mat-error
          >
          <mat-error *ngIf="tableRowForm.get('win').hasError('pattern')"
            >Not valid type</mat-error
          >
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>Drawn</mat-label>
            <input formControlName="draw" matInput />
          </mat-form-field>
          <mat-error
            *ngIf="
              tableRowForm.get('draw').touched &&
              tableRowForm.get('draw').hasError('required')
            "
            >No. of draw is required</mat-error
          >
          <mat-error *ngIf="tableRowForm.get('draw').hasError('pattern')"
            >Not valid type</mat-error
          >
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>Loss</mat-label>
            <input formControlName="loss" matInput />
          </mat-form-field>
          <mat-error
            *ngIf="
              tableRowForm.get('loss').touched &&
              tableRowForm.get('loss').hasError('required')
            "
            >No. of loss is required</mat-error
          >
          <mat-error *ngIf="tableRowForm.get('loss').hasError('pattern')"
            >Not valid type</mat-error
          >
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>Points</mat-label>
            <input formControlName="points" matInput />
          </mat-form-field>
          <mat-error
            *ngIf="
              tableRowForm.get('points').touched &&
              tableRowForm.get('points').hasError('required')
            "
            >No. of points is required</mat-error
          >
          <mat-error *ngIf="tableRowForm.get('points').hasError('pattern')"
            >Not valid type</mat-error
          >
        </td>
      </tr>
    </table>
    <button
      *ngIf="data.action === 'add'"
      mat-raised-button
      color="primary"
      (click)="onAdd()"
    >
      Add
    </button>
    <button
      *ngIf="data.action === 'edit'"
      mat-raised-button
      color="primary"
      (click)="onUpdate()"
    >
      Update
    </button>
  </form>
</div>
