.table-container {
  max-height: 84%;
  overflow-y: auto;
}

.mat-table {
  width: 100%;
}
.pointstable__team {
  display: flex;
  align-items: center;
  span {
    margin-left: 10px;
  }
}
.team-logo {
  max-width: 32px;
}
