.table-container {
  max-height: 84%; /* Set your preferred max height */
  overflow-y: auto; /* Add a vertical scrollbar when content overflows */
}

.mat-table {
  width: 100%; /* Ensure the table takes full width */
}
