.container {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}
button {
  padding: 10px;
  mat-icon {
  }
}
.search {
  display: flex;
  margin-right: 10px;
  align-items: center;
}

.searchTerm {
  border: 3px solid #00b4cc;

  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #0000;
}

.searchTerm:focus {
  color: #00b4cc;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid blueviolet;
  background: blueviolet;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}
